<h1>All Comments</h1>
<table>
	<th>
		<tr>
			<td>Comments</td>
			<td>Products</td>
		</tr>
	</th>
	<% @comments.each do |com| %>
	<tr>
		<td><%= com.comment %></td>
		<td><%= com.name %></td>
	</tr>
	<% end %>

</table>
<br>
<a href="/products">Back</a>